
<section
  class="addProduct"
  aria-modal="true"
  aria-labelledby="new-product-title"
  tabindex="-1"
>
  <header class="addProduct__header">
    <h2 id="new-product-title">Formulario de Registro</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="addProduct__body">
      <div class="field">
        <label for="id">ID</label>
        <input id="id" type="text" formControlName="id" maxlength="10" />
        <small class="error" *ngIf="form.controls.id.touched && form.controls.id.errors?.['required']">Requerido</small>
        <small class="error" *ngIf="form.controls.id.errors?.['minlength']">Mínimo 3 caracteres</small>
        <small class="error" *ngIf="form.controls.id.errors?.['maxlength']">Máximo 10 caracteres</small>
        <small class="error" *ngIf="form.controls.id.pending">Verificando disponibilidad…</small>
        <small class="error" *ngIf="form.controls.id.errors?.['idTaken']">Ese ID ya existe</small>
        <small class="error" *ngIf="form.controls.id.errors?.['idVerificationError']">Error al verificar ID</small>
      </div>

      <div class="field">
        <label for="name">Nombre</label>
        <input id="name" type="text" formControlName="name" />
        <small class="error" *ngIf="form.controls.name.touched && form.controls.name.errors">Entre 5 y 100 caracteres</small>
      </div>

      <div class="field">
        <label for="description">Descripción</label>
        <input id="description"  formControlName="description"/>
        <small class="error" *ngIf="form.controls.description.touched && form.controls.description.errors">
          Entre 10 y 200 caracteres
        </small>
      </div>

      <div class="field">
        <label for="logo">Logo (URL o ruta asset)</label>
        <input id="logo" type="text" formControlName="logo" placeholder="1.png" />
        <small class="error" *ngIf="form.controls.logo.touched && form.controls.logo.errors?.['required']">Requerido</small>
      </div>
      
      <div class="field">
        <label for="date_release">Fecha de liberación</label>
        <input id="date_release" type="date" formControlName="date_release" />
        <small class="error" *ngIf="form.controls.date_release.touched && form.controls.date_release.errors?.['dateInPast']">
          Debe ser hoy o futura
        </small>
      </div>

      <div class="field">
        <label for="date_revision">Fecha de revisión</label>
        <input id="date_revision" type="date" formControlName="date_revision" />
        <small class="error" *ngIf="form.errors?.['notOneYearAfter']">
          Debe ser exactamente un año posterior a la fecha de liberación
        </small>
      </div>
    </div>

    <footer class="addProduct__footer">
      <div class="field">
        <button *ngIf="mode==='create'" type="button" class="btn" (click)="reset()">Reiniciar</button>
        <button *ngIf="mode==='edit'" type="button" class="btn" (click)="back()">Cancelar</button>
      </div>
      <div class="field">
        <button type="submit" class="btn btn--primary" [disabled]="form.invalid || form.pending">
          {{  mode==='create' ? 'Guardar' : 'Actualizar'}}
        </button>
      </div>
    </footer>
  </form>
</section>

